<?xml version="1.0" ?>
<machine_configuration>
    <global_settings>
        <master_speed>1.0</master_speed>
    </global_settings>
    <canvas>
        <center_position x="400" y="300"/>
        <diameter>600</diameter>
        <drawing_area>
            <width>800</width>
            <height>600</height>
        </drawing_area>
        <speed_control>
            <base_ratio>0.0</base_ratio>
        </speed_control>
    </canvas>
    <drive_wheels>
        <wheel id="1" is_canvas="false">
            <center_position x="75.0" y="329.0"/>
            <diameter>250.0</diameter>
            <speed_control>
                <base_ratio>1.0</base_ratio>
                <rotation_rate>0.10471975511965977</rotation_rate>
            </speed_control>
            <connection_points>
                <point id="p1" radius="40.0"/>
            </connection_points>
        </wheel>
        <wheel id="2" is_canvas="false">
            <center_position x="335.0" y="636.0"/>
            <diameter>250.0</diameter>
            <speed_control>
                <base_ratio>1.0</base_ratio>
                <rotation_rate>8.377580409572781</rotation_rate>
            </speed_control>
            <connection_points>
                <point id="p1" radius="100.0"/>
            </connection_points>
        </wheel>
        <wheel id="16" is_canvas="true">
            <center_position x="525.0" y="266.0"/>
            <diameter>500.0</diameter>
            <speed_control>
                <base_ratio>1.0</base_ratio>
                <rotation_rate>0.10471975511965977</rotation_rate>
            </speed_control>
        </wheel>
    </drive_wheels>
    <linkages>
        <rod id="12">
            <length>363.6816043750311</length>
            <start_position x="115.0" y="329.0"/>
            <end_position x="478.53920457895356" y="339.17625151509185"/>
            <connections>
                <start_point connected_to="wheel_1_point_p1"/>
                <end_point connected_to="rod_13_mid"/>
            </connections>
        </rod>
        <rod id="13">
            <length>505.98023676819633</length>
            <start_position x="435.0" y="636.0"/>
            <end_position x="508.43325680519285" y="135.376831543942"/>
            <connections>
                <start_point connected_to="wheel_2_point_p1"/>
                <mid_point distance_from_start="300.0"/>
            </connections>
            <pen_position distance_from_start="375.0"/>
        </rod>
    </linkages>
</machine_configuration>
