<?xml version="1.0" ?>
<machine_configuration>
    <global_settings>
        <master_speed>1.0</master_speed>
    </global_settings>
    <canvas>
        <center_position x="400" y="300"/>
        <diameter>600</diameter>
        <drawing_area>
            <width>800</width>
            <height>600</height>
        </drawing_area>
        <speed_control>
            <base_ratio>0.0</base_ratio>
        </speed_control>
    </canvas>
    <drive_wheels>
        <wheel id="1">
            <center_position x="65.0" y="254.0"/>
            <diameter>250.0</diameter>
            <speed_control>
                <base_ratio>1.0</base_ratio>
                <rotation_rate>180.0</rotation_rate>
            </speed_control>
            <connection_points>
                <point id="p1" radius="100.0"/>
            </connection_points>
        </wheel>
        <wheel id="2">
            <center_position x="312.0" y="567.0"/>
            <diameter>250.0</diameter>
            <speed_control>
                <base_ratio>1.0</base_ratio>
                <rotation_rate>179.0</rotation_rate>
            </speed_control>
            <connection_points>
                <point id="p1" radius="100.0"/>
            </connection_points>
        </wheel>
        <wheel id="14">
            <center_position x="526.0" y="178.0"/>
            <diameter>500.0</diameter>
            <speed_control>
                <base_ratio>1.0</base_ratio>
                <rotation_rate>160.0</rotation_rate>
            </speed_control>
        </wheel>
    </drive_wheels>
    <linkages>
        <rod id="12">
            <length>306.8744916427394</length>
            <start_position x="165.0" y="254.0"/>
            <end_position x="471.2908533179406" y="272.9173675430145"/>
            <connections>
                <start_point connected_to="wheel_1_point_p1"/>
                <end_point connected_to="rod_13_mid"/>
            </connections>
        </rod>
        <rod id="13">
            <length>505.98023676819633</length>
            <start_position x="412.0" y="567.0"/>
            <end_position x="512.0" y="71.0"/>
            <connections>
                <start_point connected_to="wheel_2_point_p1"/>
                <mid_point distance_from_start="300.0"/>
            </connections>
            <pen_position distance_from_start="375.0"/>
        </rod>
    </linkages>
</machine_configuration>
